.body{
    background-color: white;
    background-image: src('beans.jpg')
}

.location {
	padding: 20px;
	font-size: 40px;
	height: 400px;
}

.online {
	background-color: #2ecc71;
	color: white;

}
#quoteForm {
	padding: 10px;
}
h1.imhere {
	font-size: 100px;
	padding-top: 200px;
}
.navWhite {
	background-color: white;
	border-bottom: solid 1px #d6d6d6;
	height: 150px;

}

.imhere {
	height: 600px;
	width: 600px;
 	border-radius: 50%;
	background-color: #e74c3c;
}

.background-color {
	background-color: white;
}
.quote {
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
}
.caption {
    padding: 9px;
}
.img {
    margin: auto;
}

.user {
	margin-top: 20px;
	margin-bottom: 10px;
}
.user h3 {
	text-decoration: underline;
	font-weight: bold;
}


hr {
	width: 30%;
}
